body { font-family: Arial, sans-serif; padding: 2rem; max-width: 850px; margin: auto; color: #2d3c48; font-size: 14px; }
h1 { font-size: 1.9rem; font-weight: 300; }
h2 { margin-top: 2rem; font-size: 1.4rem; font-weight: 300; margin-bottom: 0.3rem}
ul { list-style: none; padding-left: 0; }
li { margin-bottom: 0.2rem; } 
a { color: #3e8cb7; text-decoration: none; }
a:hover { text-decoration: underline; }
.archived { font-style: italic; }
.large { font-size: 1.4em; font-weight: 300; 
